@import './animation';

div.Navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid black;
    color: white;
    background-color: #ff4c4c;
    font-family: 'Francois One', sans-serif;
    
    h1.title{
        padding-right: 10px;
        padding-left: 10px;
        font-weight: bold;
        text-shadow: 2px 1px 4px black;
    }

    div.subtitles{
        position: absolute;
        top: 60px;
        left: 100%;
        width: max-content;
        animation: firstCloud 15s linear 2s infinite;

        h3.subtitle{
            span{
                font-weight: bold;
            }
        }

        h3.hiragana-subtitle{
            padding-right: 50px;
        }
    }
}
