@import './variables';

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $grayDark;
}

div.container{
    padding: 20px 0px;
    height: max-content;
    background-color: $white;

    div.chartoption{
        font-family: 'Abel', sans-serif;
        p{
            padding: 4px 6px;
            width: min-content;
            font-size: 1.25rem;
            border-radius: 4px;
            border: 1px solid black;
            cursor: pointer;
        }
        p:hover{
            opacity: .9;
        }
        p.hiragana-option{
            width: 95px;
            color: white;
            background-color: #64adff;
        }
        p.katakana-option{
            color: black;
            background-color: #ffb464;
        }
    }
}

.flex{
    display: flex;
}
.flex-jc-sb{
    justify-content: space-between;
}
.flex-jc-sa{
    justify-content: space-around;
}
.flex-ai-c{
    align-items: center;
}
.flex-fd-c{
    flex-direction: column;
}
.flex-fd-r{
    flex-direction: row;
}
